body {
	margin: 0;
	padding: 0;
}

:root:has(.dark-bg) {
	background-color: rgb(24, 24, 24);
}

:root:has(#home-page) {
	background-color: #2d3250;
}
:root:has(#login-page) {
	background-color: rgba(0, 0, 0, 0.7);
	background-image: url(https://images.unsplash.com/photo-1532153975070-2e9ab71f1b14?q=80&w=3270&auto=format&fit=crop&ixlib=rb-4.0.3&ixid=M3wxMjA3fDB8MHxwaG90by1wYWdlfHx8fGVufDB8fHx8fA%3D%3D);
	background-blend-mode: hard-light;
}

#home-page table {
	background-color: rgb(24, 24, 24);
	color: white;
}

#home-page table th.ant-table-cell {
	color: white;
	background-color: #2d3250;
}

#home-page table tr.ant-table-row:hover {
	color: black;
}
