body {
  margin: 0;
  padding: 0;
}

:root:has(.dark-bg) {
  background-color: rgb(24, 24, 24);
}

:root:has(#home-page) {
  background-color: #2d3250;
}
:root:has(#login-page) {
  background-image: url(assets/login_background.jpg);
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
  height: 100vh;
}

#home-page table {
  background-color: rgb(24, 24, 24);
  color: white;
}

#home-page table th.ant-table-cell {
  color: white;
  background-color: #2d3250;
}

#home-page table tr.ant-table-row:hover {
  color: black !important;
}

tbody > tr:hover > td {
  background: #1c2755 !important;
}
